<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Filters -->
    <filter>
        <filter-name>ControllerFilter</filter-name>
        <filter-class>filter.controller.ControllerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControllerFilter</filter-name>
        <servlet-name>Controller</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>PageRedirectFilter</filter-name>
        <filter-class>filter.controller.PageRedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PageRedirectFilter</filter-name>
        <servlet-name>PageRedirect</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>security.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>PageRedirect</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>LocalDBFilter</filter-name>
        <filter-class>filter.resource.LocalDBFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocalDBFilter</filter-name>
        <servlet-name>ImageRetriever</servlet-name>
        <servlet-name>ImageUploadServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>ImageRetrieverFilter</filter-name>
        <filter-class>filter.resource.ImageRetrieverFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ImageRetrieverFilter</filter-name>
        <servlet-name>ImageRetriever</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>ImageUploadFilter</filter-name>
        <filter-class>filter.resource.ImageUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ImageUploadFilter</filter-name>
        <servlet-name>ImageUploadServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>StoreFilter</filter-name>
        <filter-class>filter.store.StoreFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StoreFilter</filter-name>
        <servlet-name>StoreServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>StoreDisplayFilter</filter-name>
        <filter-class>filter.store.StoreDisplayFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StoreDisplayFilter</filter-name>
        <servlet-name>StoreServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>CartUpdateFilter</filter-name>
        <filter-class>filter.cart.CartUpdateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CartUpdateFilter</filter-name>
        <servlet-name>CartUpdateServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>CartFilter</filter-name>
        <filter-class>filter.cart.CartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <servlet-name>CartServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>CartDisplayFilter</filter-name>
        <filter-class>filter.cart.CartDisplayFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CartDisplayFilter</filter-name>
        <servlet-name>CartServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filter.account.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.account.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>UpdateFilter</filter-name>
        <filter-class>filter.account.UpdateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UpdateFilter</filter-name>
        <servlet-name>UpdateServlet</servlet-name>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>security.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/html/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>Error500</filter-name>
        <filter-class>security.error.Error500</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Error500</filter-name>
        <url-pattern>/500</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>Error404</filter-name>
        <filter-class>security.error.Error404</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Error404</filter-name>
        <url-pattern>/404</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- Servlets -->
    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>controller.redirect.PageRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/PageRedirect</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>business.account.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>business.account.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>business.account.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>business.account.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>business.store.StoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/StoreServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>business.cart.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartUpdateServlet</servlet-name>
        <servlet-class>business.cart.CartUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartUpdateServlet</servlet-name>
        <url-pattern>/CartUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImageRetriever</servlet-name>
        <servlet-class>controller.resource.ImageRetriever</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageRetriever</servlet-name>
        <url-pattern>/ImageRetriever</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImageUploadServlet</servlet-name>
        <servlet-class>controller.resource.ImageUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUploadServlet</servlet-name>
        <url-pattern>/ImageUploadServlet</url-pattern>
    </servlet-mapping>
    <!-- Configs -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/html/error/error.jsp</location>
    </error-page>
</web-app>
