.content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-section {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.content-text,
.content-img {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-text:nth-of-type(odd) {
    color: #000;
    background-color: #9DC08B;
}

.content-text:nth-of-type(even) {
    color: #EDF1D6;
    background-color: #40513B;
}

.content-text > h2 {
    font-size: 1.5rem;
    padding: 1.5rem;
}

.content-img > img {
    width: auto;
    height: 100%;
}

.content-break-container:nth-of-type(odd) {
    background-color: #EDF1D6;
}

.content-break-container:nth-of-type(even) {
    background-color: #40513B;
}

@media screen and (max-width: 768px)  {
    .content-section {
        flex-direction: column;
    }

    .content-text,
    .content-img {
        width: 100%;
        height: 50%;
    }

    .content-break-container {
        display: flex;
    }
}